<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="groupingsuite">
  <test name="groupingtest">
  <groups>
  <run>
  <include name="Maths"/>
  <include name="Phy"/>
  </run>
  </groups>
    <classes>
      <class name="day44.Grouping"/>
      <class name="day44.DependencyMethods"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
